@using LeaveManagmentSystem.Web.Services.LeaveRequestDIR
@model IEnumerable<LeaveRequestReadOnlyVM>
@{
    ViewData["Title"] = "Leave request list";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Request leave</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequestsStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var className = string.Empty;
            if(item.LeaveRequestsStatus == LeaveRequestStatusEnum.Pending)
            {
                className = "warning";
            }
            else if(item.LeaveRequestsStatus == LeaveRequestStatusEnum.Approved)
            {
                className = "success";
            }
            else if(item.LeaveRequestsStatus == LeaveRequestStatusEnum.Declined)
            {
                className = "danger";
            }
            else if (item.LeaveRequestsStatus == LeaveRequestStatusEnum.Canceled)
            {
                className = "dark";
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOnly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    <span class="badge rounded-pill bg-@className"> @item.LeaveRequestsStatus.ToString()</span>
                </td>
                <td>
                    @if(item.LeaveRequestsStatus == LeaveRequestStatusEnum.Pending)
                    {
                        <button data-id="@item.Id" class="btn btn-danger cancelBtn">Cancel</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="cancelForm" asp-action="Cancel">
    <input type="hidden" name="id" id="leaveRequestId" />
</form>

@section scripts{
    <script>
        $(function () {
            $('.cancelBtn').click(
                function (e) {
                    swal.fire({
                        title: "Are you sure?",
                        text: "You want to CANCEL this request?!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true
                    }).then((willDelete) => {
                        if (willDelete) {
                            var btn = $(this);
                            var id = btn.attr('data-id');
                            $('#leaveRequestId').val(id);
                            $('#cancelForm').submit();
                        }
                        });
                }
            )
        });
    </script>
}